.table-container {
  box-shadow: 0 0 2px gray;
  width: 60%;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 100%;
}
.table-title {
  font-size: 18px;
  font-weight: bold;
}
button {
  padding: 5px 10px;
  border-style: none;
  background-color:#3366FF;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}
table th {
  padding: 3px;
}
table td {
  padding: 3px;
}
thead {
  background-color: #F0F0F0;
}
textarea {
  width: 90%;
}
img {
  max-width: 20px;
  height: auto;
}
.table-no {
  text-align: center;
}
h3 {
  padding: 10px;
  box-shadow: 0 0 2px gray;
  width: 90%;
}

.date-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 2px gray;
  width: 90%;
}
.left-group, .right-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border: 2px solid #aaa;
  border-radius: 5px;
  background-color: #f9f9f9;
  outline: none;
  width: 200px;
}
input[type="date"]:hover {
  border-color: #888;
}
input[type="date"]:focus {
  border-color: #5b9bd5;
  box-shadow: 0 0 5px rgba(91, 155, 213, 0.5)
}
.triangle-btn {
  position: relative;
  width: 0;
  height: 0;
  cursor: pointer;
}
.triangle-btn.prev {
  content: "";
  margin: 0.5rem;
  border: 15px solid transparent;
  border-left: 0 solid transparent;
  border-right: 15px solid #000;
}
.triangle-btn.next {
  content: "";
  margin: 0.5rem;
  border: 15px solid transparent;
  border-left: 15px solid #000;
  border-right: 0 solid transparent;
}
.item-table_editbutton {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.time-container {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #000;
}
#time {
  font-size: 20px;
}
.edit-btn {
  width: 80%;
  background-color: #F99F48;
}
.work-hours-container {
  margin-left: 10px;
}
.work-hours-time {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000;
  padding: 2px;
  width: 100px;
  text-align: center;
}